######################### COMMON ###############################################
# https://raw.githubusercontent.com/erdaltsksn/dockerignore/main/templates/Common.dockerignore
# https://docs.docker.com/engine/reference/builder/#dockerignore-file
################################################################################
# Git
.git
.gitignore
.gitattributes
.github

# Docker
Dockerfile
docker-compose.yml
.dockerignore
.devcontainer

# Dev
dev
docs
environment.yml

# Documentation
#README.md
CHANGELOG.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md

# macOS (optional)
.DS_Store

# Visual Studio Code (optional)
.vscode